@model StudentExercisesMVC.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SlackHandle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SlackHandle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cohort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cohort.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
    <h4>Assigned Exercises:</h4>
    @if (Model.Exercises.Count > 0)
    {
    <ul>
        @foreach (var exercise in Model.Exercises)
        {
            <li>
                @exercise.Name (@exercise.Language)
            </li>
        }
    </ul>
    }
    else
    {
        <p>this student doesn't have any assigned exercises</p>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {id=Model.Id}) |
    <a asp-action="Index">Back to List</a>
</div>
